.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  text-align: center;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
}

.footer__contacts {
  margin-bottom: 60px;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__link {
  @include _fs_lh_ls(14, 24, 0.03);
  color: var(--footer-contacts-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link_address-color {
  color: var(--alternate-logo-color);
}

.footer__title {
  margin-bottom: 20px;

  @include _fs_lh_ls(14, 16);
  text-transform: uppercase;
  color: var(--alternate-logo-color);
}

@media screen and (max-width: 767px) {
  .footer__social-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_top-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .footer__subscribe {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }

  .footer__container {
    display: flex;
    align-items: baseline;
  }

  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }

  .footer_top-wrapper {
    display: flex;
    align-items: baseline;
  }

  .footer__subscribe {
    margin-left: auto;
  }
}
