.hero {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-mobile.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-mobile@2x.jpg');
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include _fw_fs_lh_ls(900, 26, 42, 0.06);
  text-transform: uppercase;
  color: var(--alternate-logo-color);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-tablet.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/hero-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/hero-desktop.jpg');
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/hero-desktop@2x.jpg');
    }
  }

  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
