.card-type3 {
  height: 100%;
}

.portfolio__filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }

  .portfolio__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }

  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
