.company-social {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.company-social__item {
  margin-left: 10px;
  margin-top: 10px;
}

.company-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);

  &:hover,
  &:focus {
    color: var(--hover-modal-btn-color);
  }
}

.company-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

@media screen and (max-width: 430px) {
  .company-social__item:not(:last-child) {
    margin-bottom: 10px;
    justify-self: center;
  }

  .company-social__item:first-child {
    margin-bottom: 10px;
    justify-self: center;
  }
}
