.member-card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--alternate-logo-color);
}

.member-card__img {
  background-color: var(--bg-color);
  width: 100%;
}

.member-card__description-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.member-card__name {
  margin-bottom: 10px;
  @include _fw_fs_lh_ls(500, 16, 19);
  color: var(--titles-text-color);
}

.member-card__work-position {
  margin-bottom: 16px;
  @include _fs_lh_ls(16, 19);
}
