.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @include _fs_lh_ls(12, 14, 0.03);
  // alternate checkbox focus
  // &:focus-within {
  //   outline: 1px solid var(--accent-color);
  // }
}

.custom-checkbox__icon {
  flex-shrink: 0;
  margin-right: 7px;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--titles-text-color);
  cursor: pointer;
  background-size: contain;
  fill: var(--alternate-logo-color);
  transition: transform 250ms var(--timing-func);

  .custom-checkbox__input:not(:checked):focus + & {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
  }

  .custom-checkbox__input:focus + & {
    outline: 1px solid var(--titles-text-color);
    outline-offset: 2px;
  }

  .custom-checkbox__input:checked + & {
    border: none;
    background-color: var(--accent-color);
    transform: rotate(360deg);
  }
}

.custom-checkbox__link {
  display: inline-block;
  color: var(--accent-color);
}

.callback__btn {
  align-self: center;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  @include _fw_fs_lh_ls(700, 16, 30, 0.06);
  color: var(--alternate-logo-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-func);

  &:hover,
  &:focus {
    background-color: var(--hover-modal-btn-color);
  }
}

@media screen and (min-width: 1200px) {
  .custom-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
