:root {
  --primary-text-color: #757575;
  --titles-text-color: #212121;
  --main-logo-color: #000000;
  --bg-color: #2f303a;
  --alternate-logo-color: #ffffff;
  --accent-color: #2196f3;
  --hover-modal-btn-color: #188ce8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
  --hr-border-color: #ececec;
  --card-border-color: #eeeeee;
  --link-icons-color: #afb1b8;
  --dark-theme-icon-bg: rgba(255, 255, 255, 0.1);
  --dark-theme-border-color: rgba(255, 255, 255, 0.3);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --logo-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --main-font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
